div.page-content{
	margin: 10 10 10 10;
	margin-left: 20px
}
header.header-tabs{
	min-height:0px;
}
body {
    background: #F3E5F5;
}
div.help-content{
display:none;

border: solid purple 2px;
    padding: 10;
    margin: 10 0 10 10;
    padding-right: 0px;
    margin-left: 0px;
}