label{
font-family: consolas, courier, monospace;
}
span.digit{
font-family: consolas, courier, monospace;
color:red;
font-size:xx-large;
}
section.choices{
margin-left:20px;
}
div.button-container{
margin-top: 20px;
}
#navIcons .wrapper{
min-height: 24px;
width: 24px;
min-width: 24px;
margin-right: 5px;
float:left;
}
#navIcons img{
width: 24px;
height: 24px;
}
#navIcons .btnPrev,.btnNext{
display:none;
}
div.a-piece-of-paper{
    border: solid 2px;
    padding: 10px;
	margin: 0 0 16px;
}